@model occupy.Models.IndexViewModel
@{
    ViewData["Title"]="Giriş Yap";
    
}
<div class="container p-5">
 <form class="form-signin text-center" method="post" action="/admin/signin">
 
     <h1 class="h3 mb-3 font-weight-normal mt-5">Giriş YAP</h1>
     <input asp-for="Username" type="text" class="form-control" placeholder="Kullanıcı Adı" required>
     <span asp-validation-for="Username" class="text-danger mt-2"></span>
     <input asp-for="Password" type="password"class="form-control mt-4" placeholder="Şifre" required>
     <span asp-validation-for="Password" class="text-danger"></span> 
     <button class="btn btn-lg btn-outline-danger btn-block mt-5" type="submit">Giriş</button>

      @if (TempData["Danger"] !=null)
        {
         <div class="alert alert-danger  mt-3" role="alert">  
             @TempData["Danger"]
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         </div>
        }
          @if (TempData["SuccessSignOut"] !=null)
        {
         <div class="alert alert-success  mt-3" role="alert">  
             @TempData["SuccessSignOut"]
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         </div>
        }
  
 </form>
</div>


