<!doctype html>
<html lang="en">
    @{
    var actionName= ViewContext.RouteData.Values["Action"]!.ToString();
}

@{await Html.RenderPartialAsync("_Head");}

<body>
    @if (actionName!= "SignIn")
    {
        {await Html.RenderPartialAsync("_Header");}
    }
@RenderBody()
 @if (actionName!= "SignIn")
    {
        {await Html.RenderPartialAsync("_Footer");}
    }
@{await Html.RenderPartialAsync("_Scripts");}

</body>

</html>