 @model occupy.Models.IndexViewModel
@{
	int i=0;
}
 <!--================Success Area =================-->
        <section class="success_area">
			@if (Model.Successes!=null)
			{
				@foreach (var item in Model.Successes)
				{
						<div class="row m0">
							@if (i%2!=0)
							{
        		                <div class="col-lg-6 p0">
        			              <div class="success_img">
        				             <img src="~/uploads/files/icon/@item.Image" alt="">
        			              </div>
        		                </div>
									<div class="col-lg-6 p0">
        			              <div class="mission_text">
						            <h4>@item.Title</h4>
						            <p>@item.Subtitle</p>
					             </div>
        		                </div>
							}
							else
							{
								<div class="col-lg-6 p0">
        			              <div class="mission_text">
						            <h4>@item.Title</h4>
						            <p>@item.Subtitle</p>
					             </div>
        		                </div> 
								<div class="col-lg-6 p0">
        			              <div class="success_img">
        				             <img src="~/uploads/files/icon/@item.Image" alt="">
        			              </div>
        		                </div>
							}
        	
        	</div>
		i++;

				}
			}
        
        </section>
        <!--================End Success Area =================-->